body
  font-family: sans-serif
  margin: 30px

  &.processing .waiting
    opacity: 1

  &.processed .success
    opacity: 1

*
  box-sizing: border-box

form
  .form-group
    margin-bottom: 20px

  label
    display: inline-block
    margin-bottom: 10px

  input, select
    display: block
    width: 100%
    height: 30px

  input
    font-size: 15px

  select
    -webkit-appearance: menulist-button
    font-size: 13px

  .audio-file
    transition: opacity .5s

    .filepond--drop-label label
      cursor: pointer

  &:invalid .audio-file
    opacity: 0
    pointer-events: none

.waiting, .success
  display: block
  opacity: 0
  transition: opacity .5s

.success
  color: darkgreen
